html, body {
    height: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#2383a4, #0ce7ee);
}

a {
    color: blue;
}

form {
    margin: 20px auto;
    width: 300px;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
}

form > input, form > button {
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    font-size: large;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    display: inline-block;
}
